<!DOCTYPE html>
<html>
<% include ./partials/head %>

  <body class='blue-grey lighten-5'>
    <% include ./partials/navbar %>
      <header>
        <article class='row grey lighten-1'>
          <section class='col s12 m5'>
            <div class='container'>
              <a href='/authors'><h1 class='white-text thin'>Authors</h1></a>
            </div>
          </section>
          <section class='col s12 m6 right-align'>
            <br><br>
            <a class="btn-floating btn-large waves-effect waves-light" href="#add_author"><i class="material-icons">add</i></a>
          </section>
        </article>
      </header>
      <main class='container'>
        <div id='authors'>
          <input class="search" placeholder="Search" />
          <h6><span id='author_count'></span> of
          <%= authors.length %> total</h6>
          <ul class='list'>
            <% authors.forEach((a)=> { %>
              <li>
                <div class='row valign-wrapper'>
                  <div class='col l2'>
                    <img src="<%= a.portrait_url%>" alt="picture" class="circle responsive-img">
                  </div>
                  <div class='col l9'>
                    <span class="title authorname"><h4 class='grey-text'><%= a.first + ' ' + a.last %></h4></span>
                    <p>
                      <%= a.biography %>
                    </p>
                    <br>
                    <h6>Books:</h6>
                    <ul>
                      <% a.books.forEach((book)=>{ %>
                        <li>
                          <a href='/books/<%=book.id%>'>
                            <%=book.title%>
                          </a>
                        </li>
                        <% }); %>
                    </ul>
                    <br>
                    <div class="row">
                      <div class- 'col s12 center'>
                        <a class="waves-effect waves-light btn grey darken-3" href="#editauthor<%=a.id%>">Edit</a>
                        <a class="waves-effect waves-light btn grey darken-3" href="#deleteauthor<%=a.id%>">Delete</a>
                      </div>
                    </div>
                  </div>
                </div>
                <% include ./partials/editAuthor %>
                  <% include ./partials/deleteAuthor %>
              </li>
              <% }); %>
          </ul>
          <div class='row center-align'>
            <ul class="pagination"></ul>
          </div>
        </div>
        <% include ./partials/addAuthor %>
      </main>
      <% include ./partials/footer %>
        <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/list.js/1.5.0/list.min.js"></script>
        <script type="text/javascript" src='../js/reads.js'></script>
        <script type="text/javascript" src='../js/authors.js'></script>
  </body>

</html>
