<!DOCTYPE html>
<html>
<% include ./partials/head %>

  <body>
    <% include ./partials/navbar %>
      <main>
        <a href='/authors'><h1>Authors</h1></a>
        <div id='authors'>
          <input class="search" placeholder="Search" />
          <h5> <span id='author_count'></span> of <%= authors.length %> total</h5>
          <ul class='list'>
            <% authors.forEach((a)=> { %>
              <li>
                <ul class="collection">
                  <li class="collection-item avatar">
                    <img src="<%= a.portrait_url%>" alt="" class="circle">
                    <span class="title authorname"><%= a.first + ' ' + a.last %></span>
                    <p>
                      <%= a.biography %>
                    </p>
                    <ul>
                      <% a.books.forEach((book)=>{ %>
                        <li>
                          <a href='/books/<%=book.id%>'>
                            <%=book.title%>
                          </a>
                        </li>
                        <% }); %>
                    </ul>
                    <div class="row">
                      <div class- 'col s12 center'>
                        <a class="waves-effect waves-light btn" href="#editauthor<%=a.id%>">Edit</a>
                        <a class="waves-effect waves-light btn" href="#deleteauthor<%=a.id%>">Delete</a>
                      </div>
                    </div>
                  </li>
                </ul>
                <% include ./partials/editAuthor %>
                  <% include ./partials/deleteAuthor %>
              </li>
              <% }); %>
          </ul>
          <ul class="pagination"></ul>
        </div>
        <% include ./partials/addAuthor %>
          <a class="btn-floating btn-large waves-effect waves-light red" href="#add_author"><i class="material-icons">add</i></a>
      </main>
      <% include ./partials/footer %>
        <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/list.js/1.5.0/list.min.js"></script>
        <script type="text/javascript" src='../js/reads.js'></script>
        <script type="text/javascript" src='../js/authors.js'></script>
  </body>

</html>
