<!DOCTYPE html>
<html>
<% include ./partials/head %>

  <body class='blue-grey lighten-5'>
    <% include ./partials/navbar %>
      <header>
        <article class='row grey lighten-1'>
          <section class='col s12 m5'>
            <div class='container'>
              <a href='/books'><h1 class='white-text thin'>Books</h1></a>
            </div>
          </section>
          <section class='col s12 m6 right-align'>
            <br><br>
            <a class="btn-floating btn-large pulse" href="#add_book"><i class="material-icons">add</i></a>
          </section>
        </article>
      </header>
      <main class='container'>
        <div id='books'>
          <input class="search" placeholder="Search" />
          <select name="book_genre" class="book_filter">
            <option value='unfilter' selected>filter by genre</option>
            <% genres.forEach((genre)=> { %>
            <option value='<%= genre %>'> <%= genre %></option>
            <% }); %>
      </select>
          <h6 class='grey-text'><span id='book_count'></span>of <%= books.length %> total</h6>
          <ul class='list'>
            <% books.forEach((a)=> { %>
              <li>
                <div class='row valign-wrapper'>
                  <div class='col s12 l2 valign-wrapper'><img class='responsive-img' src='<%=a.cover%>' /></div>
                  <div class='col s12 l9'>
                    <h4 class="booktitle grey-text">
                  <%= a.title %>
                </h4>
                    <ul>
                      <% a.authors.forEach((author)=>{ %>
                        <li>
                          <a href='/authors/<%=author.id%>'>
                            <%=author.first + ' ' + author.last %>
                          </a>
                        </li>
                        <% }) %>
                    </ul>
                    <p class="bookgenre condensed">
                      <%= a.genre %>
                    </p>
                    <p>
                      <%= a.description %>
                    </p>
                    <section class="row">
                      <section class- 'col s12 center'>
                        <a class="waves-effect waves-light btn grey darken-3" href="#editbook<%=a.id%>">Edit</a>
                        <a class="waves-effect waves-light btn grey darken-3" href="#deletebook<%=a.id%>">Delete</a>
                      </section>
                    </section>
                  </div>
                </div>
                <% include ./partials/editBook %>
                  <% include ./partials/deleteBook %>
                    <% include ./partials/addBook %>
              </li>
              <% }); %>
          </ul>
          <section class='row center-align'>
            <ul class="pagination "></ul>
          </section>
        </div>
      </main>
      <% include ./partials/footer %>
        <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/list.js/1.5.0/list.min.js"></script>
        <script type="text/javascript" src='../js/reads.js'></script>
        <script type="text/javascript" src='../js/books.js'></script>
  </body>

</html>


</html>
