<!DOCTYPE html>
<html>

<html>
<% include ./partials/head %>

  <body>
    <% include ./partials/navbar %>
      <main>
        <a href='/books'><h1>Books</h1></a>
        <% books.forEach((a)=> { %>
          <img src='<%=a.cover%>' />
          <h5> <%= a.title %> </h5>
          <% a.authors.forEach((author)=>{ %>
            <a href='/authors/<%=author.id%>'>
              <%=author.first + ' ' + author.last %>
            </a>
            <% }) %>
              <p>
                <%= a.description %>
              </p>
              <div class="row">
                <div class- 'col s12 center'>
                  <a class="waves-effect waves-light btn" href="#editbook<%=a.id%>">Edit</a>
                  <a class="waves-effect waves-light btn" href="#deletebook<%=a.id%>">Delete</a>
                </div>
              </div>

              <div id="editbook<%=a.id%>" class="modal">
                <div class="modal-content">
                  <h4>Edit</h4>
                  <form action="">
                    <div class="input-field inline">
                      <input value="<%=a.title%>" id="title" type="text" class="validate">
                      <label class="active" for="title">Title</label>
                    </div>
                    <div class="input-field inline">
                      <input value="<%=a.genre%>" id="genre" type="text" class="validate">
                      <label class="active" for="genre">Genre</label>
                    </div>
                    <div class="input-field inline">
                      <textarea id="description" type="text" class="materialize-textarea"><%=a.description%> </textarea>
                      <label class="active" for="description">Description</label>
                    </div>
                    <div class="input-field inline">
                      <input value="<%=a.cover%>" id="cover" type="text" class="validate">
                      <label class="active" for="cover">Cover Url</label>
                    </div>
                  </form>
                </div>

                <div class="modal-footer">
                  <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Submit</a>
                  <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Cancel</a>
                </div>
              </div>

              <div id="deletebook<%=a.id%>" class="modal">
                <div class="modal-content">
                  <h4>Delete</h4>
                  <p>
                    Are you sure you want to delete
                    <%=a.title%>? This cannot be undone.
                  </p>
                </div>

                <div class="modal-footer">
                  <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Delete</a>
                  <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Cancel</a>
                </div>
              </div>
              <% }); %>

      </main>
      <% include ./partials/footer %>
        <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
        <script>
          $(document).ready(function() {
            Materialize.updateTextFields();
            $(".button-collapse").sideNav();
            $('.modal').modal();
          });
        </script>
  </body>

</html>
