<!DOCTYPE html>
<html>

<html>
<% include ./partials/head %>

  <body>
    <% include ./partials/navbar %>
      <main>
        <a href='/books'><h1>Books</h1></a>
        <div id='books'>
          <input class="search" placeholder="Search" />
          <select name="book_genre" class="book_filter">
        <option value='unfilter' selected>filter by genre</option>
        <% genres.forEach((genre)=> { %>
          <option value='<%= genre %>'> <%= genre %></option>
          <% }); %>
        </select>
          <h4><%= books.length %> total</h4>
          <ul class='list'>
            <% books.forEach((a)=> { %>
              <li>
                <img src='<%=a.cover%>' />
                <h5 class="booktitle"> <%= a.title %> </h5>
                <% a.authors.forEach((author)=>{ %>
                  <a href='/authors/<%=author.id%>'>
                    <%=author.first + ' ' + author.last %>
                  </a>
                  <% }) %>
                    <p class="bookgenre" hidden>
                      <%= a.genre %>
                    </p>
                    <p>
                      <%= a.description %>
                    </p>
                    <div class="row">
                      <div class- 'col s12 center'>
                        <a class="waves-effect waves-light btn" href="#editbook<%=a.id%>">Edit</a>
                        <a class="waves-effect waves-light btn" href="#deletebook<%=a.id%>">Delete</a>
                      </div>
                    </div>
                    <% include ./partials/editBook %>
                      <% include ./partials/deleteBook %>
              </li>
              <% }); %>
          </ul>
        </div>
        <a class="btn-floating btn-large waves-effect waves-light red" href="/add/book"><i class="material-icons">add</i></a>
      </main>
      <% include ./partials/footer %>
        <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/list.js/1.5.0/list.min.js"></script>
        <script type="text/javascript" src='../js/reads.js'></script>
  </body>

</html>
